#footer
	.bottom-line
		padding 16px 0px
		.row
			.copyright-holder
				font-size 11px
				line-height 32px
			.phone-holder
				a
					font-size 12px
					line-height 16px
					margin 8px 0px
					padding 0px 0px 0px 12px
					&:nth-of-type(2n+2)
						margin-left 12px
					&:before
						width 6px
						height 6px
			.social-holder
				.item-social
					width 19px
					height 19px
					margin 0px 0px 0px 8px
	.holder-creator
		.creator
			margin 12px 0px
			a
				font-size 13px
				line-height 16px