&.checkout-page
	padding-bottom 32px
	.checkout-block
		margin 16px 0px
		padding 0px
		.checkout-block-header
			padding 8px 16px
			font-size 13px
		.checkout-block-content
			padding 13px

	.required-error
		margin 8px 0px 0px 0px
		font-size 12px
	.fields-group-label
		font-size 16px
		margin 0px 0px 13px 0px
	.form-row
		& + .form-row
			margin-top 16px
		label
			font-size 11px
			margin-bottom 8px
		.woocommerce-input-wrapper
			select
				height 27px
			input:not([type="radio"]):not([type="checkbox"])
			textarea
				padding 5px
				height 27px
				font-size 11px
				border-radius 2px
			textarea
				height 82px

	.woocommerce-checkout-payment
		.woocommerce-terms-and-conditions-wrapper
			.woocommerce-privacy-policy-text
				p
					font-size 12px
		.button
			padding 13px 24px
			margin 0px
			font-size 14px
			border-radius 4px
	
	.order-side
		padding-left 12px
		margin-top 16px
		.order-side-title
			padding 8px 16px
			font-size 13px
		.woocommerce-checkout-review-order
			.woocommerce-checkout-review-order-table
				.products
					.products-product
						box-shadow 0px 4px 16px 0px rgba(0,0,0,0.05)
						margin-top 8px
						.product-image
							width 80px
						.product-info
							.product-name
								font-size 11px
								padding 8px 16px
							.product-total
								.product-price
								.product-quantity
								.product-subtotal
									font-size 10px
									padding 8px
				.totals
					margin-top 16px
					box-shadow 0px 4px 16px 0px rgba(0,0,0,0.05)
					.totals-row
						.label
						.value
							padding 8px 16px
						.label
							font-size 11px
					.totals-alert
						padding 8px 16px
						font-size 13px

	.woocommerce-order
		.checkout-block
			.sub-title
				font-size 16px
			address
				p
					margin 0px 0px 8px 0px
			table
				font-size 13px
				width calc(100% + 16px)
				margin -8px
				thead
					tr
						th
						td
							padding 8px
				tbody
					tr
						td
							padding 8px
				tfoot
					tr
						th
						td
							padding 8px