&.front-page
	.main-slider
		.swiper-container
			box-shadow 0px 0px 20px 0px rgba(0,0,0,0.15)
			border-radius 4px
		.swiper-slide
			.content
				width 240px
				padding 32px
				border-radius 4px 0px 0px 4px
				.text
					font-size 16px
					line-height 19px
					li
						&:before
							width 6px
							height 6px
							margin 0px 4px 4px 0px
						& + li
							margin-top 12px
				.button
					margin-top 16px
					a
					button
						padding 8px 16px
						border-radius 4px
						font-size 14px
				.halcircle
					right -52px
					width 86px
					&:after
						top calc(50% - 168px)
						width 336px
						height 336px