&.gallery-page
	.galleries-grid
		.galleries-grid-holder
			.galleries-grid-element
				border-radius 4px
				.title
					padding 12px
					font-size 13px

	.gallery-grid
		.gallery-grid-holder
			.gallery-grid-element
				border-radius 4px