#header
	.bottom-line
		padding-top 10px
		.row
			.search-holder
				order 1
				padding-right bp
				margin-bottom 10px
				.header-search
					width 100%
			.logo-holder
				order 2
			.phone-holder
				order 3
				.phone
					margin 5px 0px
			.cart-holder
				order 4