&.cart-page
	.woocommerce-cart-form
		.cart-table
			display block
			thead
				display none
			tbody
				display block
				tr
					display block
					position relative
					padding 20px 0px
					border-bottom 1px solid mblue
					td
						df()
						fdr()
						jc('b')
						ai('c')
						text-align right
						padding 0px 10px
						margin 0px 0px 20px 0px
					[data-title]
						&:before
							float left
							margin-right 10px
							content attr(data-title) ": "
					.product-thumbnail
						text-align center
					.product-quantity
						.quantity
							jc('e')
							.qty
								padding 5px 10px
					.product-subtotal
						margin-bottom 0px
					.product-remove
						padding 0px
						margin 0px
						a
							top 20px
							right 10px
							position absolute
							svg
								width 16px
								height 16px
				.total-line
					td
						jc('c')
					.total
						font-size 18px
				.last-line
					padding 0px
					td
						margin 0px
						.flexed
							fdc()
							width 100%
							padding 0px 0px
							.catalog-button
								order 2
								width 100%
								padding 12px 40px
								font-size 14px
								border-radius 4px
								margin-top 10px
							.checkout-button
								order 1
								width 100%
								padding 12px 40px
								font-size 14px
								border-radius 4px