.variations select,
.single_variation_wrap {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.reset_variations {
    display: none !important;
}

.product__details-item {
    width: 100%;
    max-width: none;
    flex-wrap: wrap;
}

.variations {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.product__details form {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.product__details-item .product__details-radio .product__details-input:checked + .product__details-button {
    background-color: #666FF9;
    color: #fff;
}

.cart__info {
    margin-left: auto;
    margin-right: 0;
}

.added_to_cart {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #414146;
    margin-left: 25px;
}

.product__cart-link {
    opacity: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #414146;
    margin-left: 25px;
}

.product__cart-link.active {
    opacity: 1;
}

.checkout-form__label  .select2-container {
    border: 1px solid #a4a4a4;
    border-radius: 15px;
    padding: 20px 40px;
    -webkit-box-shadow: 0 0 20px 5px rgb(234 234 234 / 5%);
    box-shadow: 0 0 20px 5px rgb(234 234 234 / 5%);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgb(164, 164, 164);
    background: #fff;
}

.checkout-form__label .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.checkout-form__label .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 6px 0 6px;
}



.checkout-form__label  .select2-selection {
    border: none;
}

.select2-container--open .select2-dropdown {
    top: 20px;
}

label[for="billing_country"] {
    position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.submenu {
    transform: translateY(-25px);
}

@media (max-width: 1024px) {
    .submenu {
        transform: translateY(0);
    }
}

@media (max-width: 425px) {
    .dgwt-wcas-search-wrapp {
        min-width: 200px !important;
    }
}

.submenu__list .submenu__item {
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3a4097;
    color: #fff;
}

.submenu__list .submenu__link {
    color: #fff;
}

.submenu .container {
    padding: 0;
}

.submenu__item:hover {
    background-color: #fff;
}

.submenu__item:hover .submenu__link {
    color: #3a4097;
}

.hero-slider__item {
    position: relative;
    height: 100%;
}

@media (max-width: 1441px){
    .hero-slider__image {
        right: 0;
        width: 70%;
        height: 100%;
        object-position: left;
    }
}

@media (max-width: 1024px){
    .hero-slider__image {
        right: 0;
        width: initial;
        height: initial;
        object-position: initial;
    }
}

@media (max-width: 701px) {
    .hero-slider__image {
        height: 50%;
    }
}

.hero-slider__item--alternate .hero-slider__additional {
    right: -5%;
    top: auto;
    bottom: 5%;
    font-size: 14px;
    max-width: 115px;
}

.hero-slider__item--alternate .hero-slider__additional span {
    display: inline-block;
    right: -5%;
    top: auto;
    bottom: 5%;
    font-size: 40px;
}

.hero-slider__item--alternate .hero-slider__text {
    max-width: 700px;
}

.hero-slider__item--alternate .hero-slider__title p {
    margin: 0;
}

.hero-slider__item--alternate .hero-slider__button {
    max-width: 50%;
    text-align: center;
}

.tabs__search {
    display: block;
    max-width: 50%;
    margin-bottom: 25px;
}

.work-list--repair {
    display: none;
}

.work-list--repair.active {
    display: grid;
}

.product-card__rating {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 20px;
    background: url("../static/img/rating-icon.svg") 0 0 repeat-x;
}
.product-card__rating::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rating-width);
    height: 100%;
    background: url("../static/img/rating-icon-full.svg") 0 0 repeat-x;
}

.wishlist__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 1024px) {
    .wishlist__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .wishlist__content {
        column-gap: 0;
        row-gap: 0;
    }
}

@media (max-width: 768px) {
    .wishlist__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.filter__block .filter-button {
    margin-left: 0;
}

.footer__col-list li.footer__col-item--add:not(:last-child) {
    margin-top: 0;
}

.footer__col-item {
    margin-right: 10px;
}

.contacts__info {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 50%;
}

@media (max-width: 1024px) {
    .contacts__info {
        width: 100%;
    }
}

.header__search-block {
    margin-right: 40px;
}

.header__adress-block {
    flex-basis: 45%;
}