.variations select,
.single_variation_wrap {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.reset_variations {
    display: none !important;
}

.product__details-item {
    width: 100%;
    max-width: none;
    flex-wrap: wrap;
}

.variations {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.product__details form {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.product__details-item .product__details-radio .product__details-input:checked + .product__details-button {
    background-color: #666FF9;
    color: #fff;
}

.cart__info {
    margin-left: auto;
    margin-right: 0;
}

.added_to_cart {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #414146;
    margin-left: 25px;
}

.product__cart-link {
    opacity: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #414146;
    margin-left: 25px;
}

.product__cart-link.active {
    opacity: 1;
}

.address-field .select2-container {
    border: 1px solid #a4a4a4;
    border-radius: 15px;
    padding: 20px 40px;
    -webkit-box-shadow: 0 0 20px 5px rgb(234 234 234 / 5%);
    box-shadow: 0 0 20px 5px rgb(234 234 234 / 5%);
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgb(164, 164, 164);
    background: #fff;
}

.address-field label {
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #a4a4a4;
}

.address-field .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.address-field .select2-selection__rendered {
    padding-left: 0 !important;
    color: rgb(164, 164, 164) !important;
}

.address-field .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 6px 0 6px;
}



.address-field  .select2-selection {
    border: none;
}

.select2-container--open .select2-dropdown {
    top: 20px;
}

label[for="billing_country"] {
    position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.submenu {
    transform: translateY(-15px);
}

@media (min-width: 1024px) {
    .navigation__item .navigation__link::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #3a4097;
        transition: all 0.3s ease-in;
        transform: scale3d(0, 1, 1);
    }

    .navigation__item:hover .navigation__link::before {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 1024px) {
    .submenu {
        transform: translateY(0);
    }
}

@media (max-width: 425px) {
    .dgwt-wcas-search-wrapp {
        min-width: 200px !important;
    }
}

.submenu__list .submenu__item {
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3a4097;
    color: #fff;
}

.submenu__list .submenu__link {
    color: #fff;
}

.submenu .container {
    padding: 0;
}

.submenu__item:hover {
    background-color: #fff;
}

.submenu__item:hover .submenu__link {
    color: #3a4097;
}

.hero-slider__item {
    position: relative;
    height: 100%;
}

@media (max-width: 1441px){
    .hero-slider__image {
        right: 0;
        width: 70%;
        height: 100%;
        object-position: left;
    }
}

@media (max-width: 1024px){
    .hero-slider__image {
        right: 0;
        width: initial;
        height: initial;
        object-position: initial;
    }
}

@media (max-width: 701px) {
    .hero-slider__image {
        height: 50%;
    }
}

.hero-slider__item--alternate .hero-slider__additional {
    right: -5%;
    top: auto;
    bottom: 5%;
    font-size: 14px;
    max-width: 115px;
}

.hero-slider__item--alternate .hero-slider__additional span {
    display: inline-block;
    right: -5%;
    top: auto;
    bottom: 5%;
    font-size: 40px;
}

.hero-slider__item--alternate .hero-slider__text {
    max-width: 700px;
}

.hero-slider__item--alternate .hero-slider__title p {
    margin: 0;
}

.hero-slider__item--alternate .hero-slider__button {
    max-width: 50%;
    text-align: center;
}

.tabs__search {
    display: block;
    max-width: 50%;
    margin-bottom: 25px;
}

.work-list--repair {
    display: none;
}

.work-list--repair.active {
    display: grid;
}

.product-card__rating {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 20px;
    background: url("../static/img/rating-icon.svg") 0 0 repeat-x;
}
.product-card__rating::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rating-width);
    height: 100%;
    background: url("../static/img/rating-icon-full.svg") 0 0 repeat-x;
}

.wishlist__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 1024px) {
    .wishlist__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .wishlist__content {
        column-gap: 0;
        row-gap: 0;
    }
}

@media (max-width: 768px) {
    .wishlist__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.filter__block .filter-button {
    margin-left: 0;
}

.footer__col-list li.footer__col-item--add:not(:last-child) {
    margin-top: 0;
}

.footer__col-item {
    margin-right: 10px;
}

.contacts__info {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 50%;
}

@media (max-width: 1024px) {
    .contacts__info {
        width: 100%;
    }
}
@media (min-width: 601px) {
    .header__search-block {
        margin-right: 20px;
    }
}

.header__adress-block {
    flex-basis: 45%;
}

.custom-select__list {
    max-height: 160px;
}

.vacancy__partners-image {
    max-width: 200px;
    max-height: 80px;
}

.repair__form-prev-step {
    margin-right: 20px;
}

.repair__form-buttons {
    display: flex;
}

.cart-item__title,
.checkout-form__cart-title {
    color: #232323;
}

@media (max-width: 750px) {
    .repair__form-buttons {
        flex-direction: column;
        align-items: center;
    }

    .repair__form-prev-step {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.header__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__text-group {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.contact__text-group p {
    margin-bottom: 5px;
}

.contacts__text--title {
    font-weight: 700;
}

.woocommerce-checkout-review-order-table {
    position: static !important;
}

.checkout__total {
    max-width: 40%; 
    position: absolute; 
    top: 0; 
    right: 0;
}

@media (max-width: 801px) {
    .checkout__form {
        padding-bottom: 380px;
    }
    .checkout__total {
        width: 100%;
        max-width: none; 
        position: absolute; 
        bottom: 0;
        top: auto;
        right: 0;
    }
}

.woocommerce-privacy-policy-text {
    display: none;
}

/* My account styles */
.my-account__container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 11em;
    padding-bottom: 7em;
}
.woocommerce-MyAccount-navigation {
    padding-right: 50px;
}
.woocommerce-MyAccount-navigation-list {
    height: 100%;
    padding: 15px 40px;
    background: #FFFFFF;    
    -webkit-box-shadow: 0 0 15px rgb(196 196 196 / 25%), 0 0 0.1px 0.3px #3743f9 inset;
    box-shadow: 0 0 15px rgb(196 196 196 / 25%), 0 0 0.1px 0.3px #3743f9 inset;
    box-shadow: 0px 0px 15px rgba(196, 196, 196, 0.25);
    border-radius: 10px;
}

.woocommerce-nav-list-item.is-active {
    position: relative;
    font-weight: 700;
    
}
.woocommerce-nav-list-item.is-active::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.81434 11.9612C1.61574 11.9616 1.42328 11.8925 1.27037 11.7658C1.1843 11.6944 1.11316 11.6068 1.06102 11.5079C1.00887 11.409 0.976744 11.3008 0.96648 11.1895C0.956216 11.0781 0.968015 10.9659 1.0012 10.8591C1.03439 10.7524 1.08831 10.6532 1.15987 10.5673L4.96765 6.0116L1.29587 1.44738C1.22527 1.36044 1.17254 1.2604 1.14073 1.15302C1.10891 1.04564 1.09863 0.933027 1.11048 0.821659C1.12233 0.710292 1.15607 0.602364 1.20976 0.504078C1.26346 0.405793 1.33605 0.319088 1.42336 0.248948C1.5113 0.171572 1.61428 0.113208 1.72585 0.0775196C1.83742 0.0418311 1.95516 0.0295887 2.07168 0.0415601C2.1882 0.0535315 2.30099 0.0894587 2.40297 0.147087C2.50495 0.204715 2.59391 0.2828 2.66428 0.376441L6.76954 5.47614C6.89455 5.62822 6.96289 5.81898 6.96289 6.01585C6.96289 6.21272 6.89455 6.40349 6.76954 6.55557L2.51979 11.6553C2.43453 11.7581 2.32622 11.8394 2.20365 11.8926C2.08107 11.9458 1.9477 11.9693 1.81434 11.9612Z' fill='%23414146'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

.woocommerce-nav-list-item {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #414146;
}

.woocommerce-nav-list-item a {
    color: inherit;
}

.customer__content {
    background: #EAEBF7;
    border-radius: 10px;
    max-width: 50%;
    padding: 27px;
}

.customer__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #232323;
    margin-bottom: 28px;
}

.customer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #232323;
    margin-bottom: 13px;
}

@media (max-width: 1024px) {
    .my-account__container {
        padding-top: 9em;
        grid-template-columns: 40% 60%;
    }

    .customer__content {
        max-width: none;
    }
}

@media (max-width: 768px) {
    .my-account__container {
        padding-top: 7em;
        grid-template-columns: none;
        row-gap: 20px;
    }

    .woocommerce-MyAccount-navigation {
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    .my-account__container {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

/* Сортировка */
.catalog__content-wrapper {
    position: relative;
}

.product-header__sort {
    z-index: 5;
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 220px;
    right: 0;
    transform: translateY(-100%);
}

.product-header__nav {
    margin-bottom: 40px;
}

.tabs__panel-search {
    display: block;
}

/* Поиск на странице прайслиста */
.pricelist .header__search-block {
    max-width: 100%;
}

.pricelist .header__search-block form {
    max-width: 50%;
    margin-bottom: 20px;
}

/* Радио-кнопки формы заявки на вакансию */
.questionary__radios {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.questionary__radios label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.questionary__radios input {
    margin-left: 10px;
}

.questionary__form-subtitle--radio {
    display: flex;
}

@media (max-width: 1024px) {
    .hero-slider__button {
        font-size: 16px;
    }
}

@media (max-width: 801px) {
    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 501px) {
    .catalog__list {
        grid-template-columns: none;
        justify-items: center;
    }
}

.hidden {
    display: none;
}

.open-pvz-btn {
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateX(100%);
}

@media (max-width: 801px) {
    .open-pvz-btn {
        position: relative;
        top: -40px;
        right: 0;
        transform: translateX(0);
    }
}

.modal__cart .cart__total-amount .woocommerce-Price-currencySymbol {
    display: none;
}

.cart__button-to-cart:hover {
    color: #fff;
    background-color: #3743f9;
}
@media (max-width: 1024px) {
    .header__navigation-block {
        padding: 0;
        height: auto;
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        display: block;
        will-change: max-height;
    }
    .header__navigation-block.menu--active {
        padding: 20px;
        max-height: 400px;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        will-change: max-height;
    }
}

.checkout__pickup.hidden {
    display: none;
}

.checkout__pickup {
    font-size: 1.3em;
    padding: 1em;
    box-shadow: 0 5px 20px rgb(208 255 204 / 10%);
    background: #eef0ff;
    border-radius: 30px;
    margin-bottom: 1.2em;
}
@media (min-width: 1024px) {
    .submenu__list .submenu__item {
        padding: 0;
    }
    
    .submenu__list .submenu__item a {
        width: 100%;
        padding: 10px 25px;
    }
    
    .submenu {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in;
        will-change: max-height;
    }
    
    .submenu.is-show {
        max-height: 200%;
    }
}

.pricelist__tabs .tabs__nav-btn--hidden {
    font-weight: 400;
    color: #50537d;
}

.pricelist__tabs .tabs__nav-btn--hidden::before {
    opacity: 0;
}